<div class="container">
  <footer>

    <div class="card">
      <div class="card-footer">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>


        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="#"> @Juan_pedraza</a>
        </div>
        <!-- Copyright -->
      </div>
    </div>



  </footer>



</div>